doctype html
html(style='font-size: 16px;' lang='en')
  head
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(charset='utf-8')
    meta(name='keywords' content='')
    meta(name='description' content='')
    title Trang cá nhân
    link(rel='stylesheet' href='/public/source/css/Nicepage.css' media='screen')
    link(rel='stylesheet' href='/public/source/css/Profile.css' media='screen')
    link#u-theme-google-font(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i')
    meta(name='theme-color' content='#478ac9')
    meta(property='og:title' content='Trang cá nhân')
    meta(property='og:type' content='website')
  body.u-body.u-xl-mode(data-lang='en')
    include ../template/header.pug

    section#sec-6943.u-align-center.u-clearfix.u-section-1
      .u-clearfix.u-sheet.u-sheet-1
        h3.u-text.u-text-default.u-text-1 Thông tin người dùng - #{user.username}
        .u-expanded-width.u-table.u-table-responsive.u-table-1
          table.u-table-entity.u-table-entity-1
            colgroup
              col(width='20%')
              col(width='20%')
              col(width='20%')
              col(width='20%')
              col(width='20%')
            thead.u-align-center.u-custom-color-1.u-table-header.u-table-header-1
              tr(style='height: 29px;')
                th.u-border-3.u-border-custom-color-1.u-table-cell.u-table-cell-1 Họ và tên
                th.u-border-3.u-border-custom-color-1.u-table-cell.u-table-cell-2 Sinh nhật
                th.u-border-3.u-border-custom-color-1.u-table-cell.u-table-cell-3 Email
                th.u-border-3.u-border-custom-color-1.u-table-cell.u-table-cell-4 Số điện thoại
                th.u-border-3.u-border-custom-color-1.u-table-cell.u-table-cell-5 Đội / Nhóm
            tbody.u-table-body
              tr(style='height: 75px;')
                td.u-border-1.u-border-grey-30.u-first-column.u-grey-5.u-table-cell.u-table-cell-6 #{user.fullname}
                td.u-border-1.u-border-grey-30.u-table-cell #{user.birthday}
                td.u-border-1.u-border-grey-30.u-table-cell #{user.email}
                td.u-border-1.u-border-grey-30.u-table-cell #{user.phoneNumber}
                td.u-border-1.u-border-grey-30.u-table-cell #{user.team}

  script(src="https://www.gstatic.com/charts/loader.js") 
  script(src="/public/source/js/script.js")
