doctype html
html(style='font-size: 16px;' lang='en')
  head
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(charset='utf-8')
    meta(name='keywords' content='')
    meta(name='description' content='')
    title Nộp bài SQL
    link(rel='stylesheet', href='/public/source/css/Nicepage.css', media='screen')
    link(rel='stylesheet', href='/public/source/css/TestSQL.css', media='screen')
    script(src="/public/source/js/script.js") 
    script.u-script(type='text/javascript' src='/public/source/js/jquery.js')
    script.u-script(type='text/javascript' src='/public/source/js/nicepage.js')
    link#u-theme-google-font(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i')
    meta(name='theme-color' content='#478ac9')
    meta(property='og:title' content='Nộp bài SQL')
    meta(property='og:type' content='website')
    script(language='javascript' type='text/javascript' src='/public/editarea/edit_area/edit_area_full.js')
    script.
      editAreaLoader.init({
        id : "message-79f8",
        start_highlight: true,
        word_wrap: true,
        allow_toggle: false,
        syntax: "sql",
        EA_load_callback: "editAreaLoaded",
        show_line_colors: true,
        font_size: 13,
      });


  body.u-body.u-xl-mode(data-lang='en')
    include ../template/header.pug

    section#sec-5722.u-align-center.u-clearfix.u-grey-15.u-section-1
      .u-clearfix.u-sheet.u-sheet-1
        h3.u-text.u-text-custom-color-1.u-text-default.u-text-1 #{message.TieuDe} (#{message.MucDo})
        .u-tabs.u-tabs-1
          ul.u-border-2.u-border-grey-75.u-tab-list.u-unstyled(role='tablist')
            li.u-tab-item.u-tab-item-1(role='presentation')
              a#link-tab-0da5.active.u-active-custom-color-1.u-button-style.u-custom-color-2.u-tab-link.u-tab-link-1(href='#tab-0da5' role='tab' aria-controls='tab-0da5' aria-selected='true') Nội dung
            li.u-tab-item.u-tab-item-2(role='presentation')
              a#link-tab-14b7.u-active-custom-color-1.u-button-style.u-custom-color-2.u-tab-link.u-tab-link-2(href='#tab-14b7' role='tab' aria-controls='tab-14b7' aria-selected='false') Lịch sử nộp bài
            //- li.u-tab-item.u-tab-item-3(role='presentation')
            //-   a#link-tab-2917.u-active-custom-color-1.u-button-style.u-custom-color-2.u-tab-link.u-tab-link-3(href='#tab-2917' role='tab' aria-controls='tab-2917' aria-selected='false') Danh sách câu hỏi
          .u-tab-content
            #tab-0da5.u-container-style.u-tab-active.u-tab-pane.u-white.u-tab-pane-1(role='tabpanel' aria-labelledby='link-tab-0da5')
              .u-container-layout.u-container-layout-1
                .u-clearfix.u-expanded-width.u-layout-wrap.u-layout-wrap-1
                  .u-layout
                    .u-layout-row
                      .u-container-style.u-layout-cell.u-size-30.u-layout-cell-1
                        .u-container-layout.u-container-layout-2
                          h4.u-text.u-text-custom-color-1.u-text-2 #{message.TieuDe} (#{message.MucDo})
                          .fr-view.u-clearfix.u-rich-text.u-text.u-text-3
                            | !{message.NoiDung}
                      .u-container-style.u-layout-cell.u-size-30.u-layout-cell-2
                        .u-container-layout.u-container-layout-3
                          .u-form.u-form-1
                            form.u-clearfix.u-form-spacing-10.u-form-vertical.u-inner-form(action='/NopBaiSQL' method='POST' source='custom' name='form' style='padding: 10px;' id='formElem')
                              .u-form-group.u-form-message
                                label.u-custom-font.u-heading-font.u-label.u-text-custom-color-1.u-label-1(for='message-79f8') Lệnh truy vấn MS SQL Server
                                textarea#message-79f8.u-border-1.u-border-grey-30.u-input.u-input-rectangle.u-white(placeholder='/* Nhập lệnh truy vấn ở đây */' rows='20' cols='50' name='SQLQuery' required='')
                              .u-align-left.u-form-group.u-form-submit
                                a.u-border-none.u-btn.u-btn-submit.u-button-style.u-custom-color-1.u-dialog-link.u-btn-1(href='#popup' onclick='SubmitSQL()') Nộp bài
                          a.u-border-none.u-btn.u-button-style.u-custom-color-1.u-dialog-link.u-btn-2(href='#popup' onclick='SubmitSQLWithEditor()') Nộp bài
            #tab-14b7.u-container-style.u-tab-pane.u-white.u-tab-pane-2(role='tabpanel' aria-labelledby='link-tab-14b7')
              .u-container-layout.u-container-layout-4
                .u-table.u-table-responsive.u-table-1
                  table.u-table-entity
                    colgroup
                      col(width='55%')
                      col(width='15%')
                      col(width='30%')

                    if history.length > 0 && history[0].KetQua != null
                     thead.u-align-center.u-custom-color-1.u-table-header.u-table-header-1
                      tr(style='height: 29px;')
                        th.u-border-1.u-border-custom-color-1.u-table-cell Câu lệnh SQL
                        th.u-border-1.u-border-custom-color-1.u-table-cell Kết quả
                        th.u-border-1.u-border-custom-color-1.u-table-cell Thời gian nộp bài
                      - const options = {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric', timeZone: "Asia/Jakarta"};

                      each ls of history
                        tbody.u-table-body
                          tr(style='height: 75px;')
                            td.u-border-1.u-border-grey-30.u-first-column.u-grey-5.u-table-cell.u-table-cell-4 #{ls.SQLQuery}
                            td.u-border-1.u-border-grey-30.u-table-cell #{ls.KetQua}
                            td.u-border-1.u-border-grey-30.u-table-cell #{new Date(ls.ThoiGian).toLocaleString("vi-VN", options)}
                    else
                      h3.u-text.u-text-custom-color-1.u-text-default.u-text-3(style="padding-left: 10px;") Không có lịch sử!
            #tab-2917.u-container-style.u-tab-pane.u-white.u-tab-pane-3(role='tabpanel' aria-labelledby='link-tab-2917')
              
    section#popup.u-align-center.u-black.u-clearfix.u-container-style.u-dialog-block.u-opacity.u-opacity-70.u-dialog-section-8
      .u-container-style.u-dialog.u-radius-10.u-shape-round.u-white.u-dialog-1
        .u-container-layout.u-container-layout-1
          h2.u-align-center.u-text.u-text-1 Kết quả thực thi
          h4#encoded.u-align-center.u-text.u-text-default.u-text-2(style="margin: auto;padding-top: 20px;")
        button.u-dialog-close-button.u-icon.u-text-grey-50.u-icon-1.btn
          svg.u-svg-link(preserveAspectRatio='xMidYMin slice' viewBox='0 0 413.348 413.348' style='')
            use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#svg-5801')
          svg#svg-5801.u-svg-content(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' xml:space='preserve' viewBox='0 0 413.348 413.348')
            path(d='m413.348 24.354-24.354-24.354-182.32 182.32-182.32-182.32-24.354 24.354 182.32 182.32-182.32 182.32 24.354 24.354 182.32-182.32 182.32 182.32 24.354-24.354-182.32-182.32z')
    style.
      .u-dialog-section-8 {
      min-height: 826px;
      }
      .u-dialog-section-8 .u-dialog-1 {
      width: 566px;
      min-height: 255px;
      height: auto;
      box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
      margin: 230px auto 60px;
      }
      .u-dialog-section-8 .u-container-layout-1 {
      padding: 40px 30px;
      }
      .u-dialog-section-8 .u-text-1 {
      font-size: 2.5rem;
      letter-spacing: 1px;
      text-transform: none;
      font-weight: normal;
      margin: 30px 0 0;
      }
      .u-dialog-section-8 .u-text-2 {
      margin: 20px 0 0;
      }
      .u-dialog-section-8 .u-icon-1 {
      width: 15px;
      height: 15px;
      left: auto;
      top: 17px;
      position: absolute;
      right: 16px;
      }
      @media (max-width: 1199px) {
      .u-dialog-section-8 .u-text-1 {
      width: 297px;
      }
      }
      @media (max-width: 991px) {
      .u-dialog-section-8 .u-container-layout-1 {
      padding-top: 30px;
      padding-bottom: 30px;
      }
      }
      @media (max-width: 767px) {
      .u-dialog-section-8 .u-dialog-1 {
      width: 540px;
      }
      }
      @media (max-width: 575px) {
      .u-dialog-section-8 .u-dialog-1 {
      width: 340px;
      }
      .u-dialog-section-8 .u-container-layout-1 {
      padding-left: 20px;
      padding-right: 20px;
      }
      .u-dialog-section-8 .u-text-1 {
      font-size: 2.25rem;
      margin-left: 2px;
      margin-right: 2px;
      }
      }

script. 
  const questionData = !{JSON.stringify(message)};
  
  async function SubmitSQLWithEditor() {
    document.querySelector('.btn').style.visibility = 'hidden';
    document.querySelector('#encoded').innerHTML = "Đang gửi yêu cầu, vui lòng đợi!";

    var SQLQuery = editAreaLoader.getValue("message-79f8")
    
    data = {
      randomString: questionData.RandomString,
      SQLQuery: SQLQuery,
    }

    let url = window.location.href;

    let response = await fetch(url, {
      method: 'POST', 
      headers: {
          'Content-Type': 'application/json',
      },
      body: JSON.stringify(data),
      json: true
    })

    let text = await response.json(); 
    
    if(text.redirect)
        window.location.href = text.redirect;
    
    if(text.statusCode == 200) 
      document.querySelector('#encoded').style.color = "green";
    else
      document.querySelector('#encoded').style.color = "red";

    document.querySelector("#encoded").innerHTML = JSON.stringify(text.data);
    document.querySelector('.btn').style.visibility = "visible";
  };