doctype html
html(style='font-size: 16px;' lang='en')
  head
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(charset='utf-8')
    meta(name='keywords' content='​Library Education, ​Meet our Principal, ​Helping each child find and follow their best learning path.')
    meta(name='description' content='')
    title Quản lý sinh viên
    link(rel='stylesheet' href='/public/source/css/Nicepage.css' media='screen')
    link(rel='stylesheet' href='/public/source/css/QuanLyBaiTap.css' media='screen')
    script.u-script(type='text/javascript' src='/public/source/js/jquery.js')
    script.u-script(type='text/javascript' src='/public/source/js/nicepage.js')
    link#u-theme-google-font(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i')
    link#u-page-google-font(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i')
    meta(name='theme-color' content='#478ac9')
    meta(property='og:title' content='Quản lý sinh viên')
    meta(property='og:type' content='website')
  body.u-body.u-xl-mode(data-lang='en')
    include ../template/header.pug

    section#sec-c3e1.u-align-center.u-clearfix.u-section-1
      .u-clearfix.u-sheet.u-valign-top.u-sheet-1
        a.u-border-none.u-btn.u-button-style.u-custom-color-1.u-dialog-link.u-btn-1( onclick=`showCreateModal()`) Thêm sinh viên
        .u-expanded-width.u-table.u-table-responsive.u-table-1
          table.u-table-entity.u-table-entity-1
            colgroup
              col(width='5%')
              col(width='19%')
              col(width='19%')
              col(width='19%')
              col(width='19%')
              col(width='19%')

            tbody.u-table-alt-palette-1-light-3.u-table-body
              - const options = {year: 'numeric', month: 'long', day: 'numeric', timeZone: "Asia/Jakarta"};

              tr(style='height: 65px;')
                td.u-table-cell Username
                td.u-table-cell Họ tên
                td.u-table-cell Sinh nhật
                td.u-table-cell Email
                td.u-table-cell Số điện thoại
                td.u-table-cell Đội / Nhóm
                
              each student in studentList
                tr(style='height: 65px;' onclick=`showUpdateModal("${student.username.toString()}")`)
                  td.u-table-cell #{student.username}
                  td.u-table-cell #{student.fullname}
                  td.u-table-cell #{student.SinhNhat ? student.SinhNhat.toLocaleString('vi-VN',  options) : ""}
                  td.u-table-cell #{student.email}
                  td.u-table-cell #{student.phoneNumber}
                  td.u-table-cell #{student.MaNhom}

    section#sec-newsv.u-align-center.u-black.u-clearfix.u-container-style.u-dialog-block.u-opacity.u-opacity-70.u-dialog-section-4
      .u-align-left.u-border-1.u-border-white.u-container-style.u-dialog.u-radius-15.u-shape-round.u-white.u-dialog-1
        .u-container-layout.u-container-layout-1
          h2#encoded.u-align-center.u-text Tạo sinh viên
          .u-form.u-form-1
            form.u-clearfix.u-form-spacing-19.u-form-vertical.u-inner-form(action='/QuanLyBaiTap' method='POST' style='padding: 0px;' source='custom' name='form' id='formElem')
              .u-form-group.u-form-name.u-form-group-1
                label.u-label(for='name-username') Username
                input#name-username.u-border-2.u-border-grey-25.u-input.u-input-rectangle.u-radius-5(type='text' placeholder='Nhập username...' name='username' required='')
                .u-form-group.u-form-name.u-form-group-1
                label.u-label(for='name-fullname') Họ tên
                input#name-fullname.u-border-2.u-border-grey-25.u-input.u-input-rectangle.u-radius-5(type='text' placeholder='Nhập họ tên sinh viên...' name='fullname' required='')
                .u-form-group.u-form-name.u-form-group-1
                label.u-label(for='name-SinhNhat') Sinh nhật
                input#date-a69e.u-border-2.u-border-grey-25.u-input.u-input-rectangle.u-radius-5(type='date' step='1' placeholder='MM/DD/YYYY' name='SinhNhat' required='')
                .u-form-group.u-form-name.u-form-group-1
                label.u-label(for='name-email') Email
                input#name-SinhNhat.u-border-2.u-border-grey-25.u-input.u-input-rectangle.u-radius-5(type='text' placeholder='Nhập email...' name='email' required='')
                
                .u-form-group.u-form-name.u-form-group-1
                label.u-label(for='name-password') Mật khẩu
                input#name-password.u-border-2.u-border-grey-25.u-input.u-input-rectangle.u-radius-5(type='password' placeholder='Nhập mật khẩu...' name='password' required='')

                .u-form-group.u-form-name.u-form-group-1
                label.u-label(for='name-phoneNumber') Số điện thoại
                input#name-phoneNumber.u-border-2.u-border-grey-25.u-input.u-input-rectangle.u-radius-5(type='text' placeholder='Nhập số điện thoại...' name='phoneNumber' required='')

              .u-form-group.u-form-select.u-form-group-2
                label.u-label(for='select-872c') Chọn nhóm
                .u-form-select-wrapper
                  select#select-872c.u-border-1.u-border-grey-30.u-input.u-input-rectangle.u-white(name='MaNhom' required='required')
                    each Nhom in dsNhom
                        option(value=Nhom.MaNhom) #{Nhom.TenNhom}

                  svg.u-caret(xmlns='http://www.w3.org/2000/svg' width='14' height='12' version='1')
                    path(fill='currentColor' d='M4 8L0 4h8z')
              
              .u-align-left.u-form-group.u-form-submit.u-form-group-6
                a.u-border-none.u-btn.u-btn-round.u-btn-submit.u-button-style.u-custom-color-1.u-radius-5.u-btn-1(onclick="SubmitFunc()") Submit
              
        button.u-dialog-close-button.u-icon.u-text-grey-50.u-icon-1(onclick='closeModal()')
          svg.u-svg-link(preserveAspectRatio='xMidYMin slice' viewBox='0 0 413.348 413.348' style='')
            use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#svg-1ce9')
          svg#svg-1ce9.u-svg-content(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' xml:space='preserve' viewBox='0 0 413.348 413.348')
            path(d='m413.348 24.354-24.354-24.354-182.32 182.32-182.32-182.32-24.354 24.354 182.32 182.32-182.32 182.32 24.354 24.354 182.32-182.32 182.32 182.32 24.354-24.354-182.32-182.32z')
    style.
      .u-dialog-section-4 {
      min-height: 826px;
      }
      .u-dialog-section-4 .u-dialog-1 {
      width: 683px;
      min-height: 606px;
      height: auto;
      margin: 63px auto 60px;
      }
      .u-dialog-section-4 .u-container-layout-1 {
      padding: 13px 40px;
      }
      .u-dialog-section-4 .u-text-1 {
      font-size: 2.25rem;
      font-weight: 700;
      width: 181px;
      margin: 0 auto;
      }
      .u-dialog-section-4 .u-form-1 {
      height: 495px;
      width: 601px;
      margin: 30px 0 0;
      }
      .u-dialog-section-4 .u-form-group-1 {
      width: 100%;
      }
      .u-dialog-section-4 .u-form-group-2 {
      margin-left: 0;
      }
      .u-dialog-section-4 .u-form-group-3 {
      width: 100%;
      }
      .u-dialog-section-4 .u-form-group-4 {
      width: 100%;
      }
      .u-dialog-section-4 .u-form-group-5 {
      margin-left: 0;
      }
      .u-dialog-section-4 .u-form-group-6 {
      width: 100%;
      }
      .u-dialog-section-4 .u-btn-1 {
      background-image: none;
      border-style: none;
      padding-left: 50px;
      padding-right: 50px;
      }
      .u-dialog-section-4 .u-icon-1 {
      width: 15px;
      height: 15px;
      left: auto;
      top: 16px;
      position: absolute;
      right: 18px;
      }
      @media (max-width: 1199px) {
      .u-dialog-section-4 {
      min-height: 906px;
      }
      .u-dialog-section-4 .u-text-1 {
      width: 181px;
      }
      }
      @media (max-width: 991px) {
      .u-dialog-section-4 .u-container-layout-1 {
      padding-left: 30px;
      padding-right: 30px;
      }
      .u-dialog-section-4 .u-text-1 {
      margin-left: 230px;
      }
      .u-dialog-section-4 .u-form-1 {
      margin-left: auto;
      margin-right: auto;
      }
      }
      @media (max-width: 767px) {
      .u-dialog-section-4 .u-dialog-1 {
      width: 540px;
      }
      .u-dialog-section-4 .u-text-1 {
      margin-left: 127px;
      }
      .u-dialog-section-4 .u-form-1 {
      width: 520px;
      margin-left: -21px;
      margin-right: -21px;
      }
      }
      @media (max-width: 575px) {
      .u-dialog-section-4 .u-dialog-1 {
      width: 340px;
      }
      .u-dialog-section-4 .u-container-layout-1 {
      padding-left: 20px;
      padding-right: 20px;
      }
      .u-dialog-section-4 .u-text-1 {
      margin-left: 47px;
      }
      .u-dialog-section-4 .u-form-1 {
      width: 320px;
      margin-left: -11px;
      margin-right: -11px;
      }
      }

script. 
    const studentList = !{JSON.stringify(studentList)};
    let currentAction = 'create';

    function closeModal() {
      document.getElementById('sec-newsv').style.display = '';
    }

    function showCreateModal() {
      document.getElementsByName('username')[0].value = '';
      document.getElementsByName('fullname')[0].value = '';
      document.getElementsByName('SinhNhat')[0].value = '';
      document.getElementsByName('email')[0].value = '';
      document.getElementsByName('phoneNumber')[0].value = '';
      document.getElementsByName('MaNhom')[0].value = '';

      var elements = document.getElementsByTagName('h2')[0];
      elements.innerHTML = 'Tạo sinh viên';

      document.getElementById('sec-newsv').style.display = 'block';
    }

    function showUpdateModal(username) {
      currentAction = 'update';
      var elements = document.getElementsByTagName('h2')[0];
      elements.innerHTML = 'Chỉnh sửa sinh viên';

      const student = studentList.find(student => student.username == username);

      document.getElementsByName('username')[0].value = student.username;
      document.getElementsByName('fullname')[0].value = student.fullname;
      var formattedDate = new Date(student.SinhNhat).toISOString().split('T')[0];
      document.getElementsByName('SinhNhat')[0].value = formattedDate;
      document.getElementsByName('email')[0].value = student.email;
      document.getElementsByName('phoneNumber')[0].value = student.phoneNumber;
      document.getElementsByName('MaNhom')[0].value = student.MaNhom;
      
      document.getElementById('sec-newsv').style.display = 'block';
    }
  
    async function SubmitFunc() {
        var form = document.querySelector("#formElem");

        data = {
          username: form.querySelector("input[name=username]").value,
          password: form.querySelector("input[name=password]").value,
          fullname: form.querySelector("input[name=fullname]").value,
          email: form.querySelector("input[name=email]").value,
          phoneNumber: form.querySelector("input[name=phoneNumber]").value,
          SinhNhat: form.querySelector("input[name=SinhNhat]").value,
          MaNhom: form.querySelector("select[name=MaNhom]").value,
        }

        let url = window.location.href;

        let response = await fetch(url, {
          method: currentAction == 'create' ? 'POST' : 'PATCH',
          headers: {
              'Content-Type': 'application/json',
          },
          body: JSON.stringify(data),
          json: true
        })

        let text = await response.json(); 

        //- document.querySelector("#encoded").innerHTML = text.message;
        alert(text.message);
        if (text.statusCode == 200)
            location.reload();
    }